<!-- redirect.component.html -->
<div class="container-fluid">
    <section class="redirect">
        <div class="HEAD">
            <div class="space-between">
                <h2 class="animate__animated animate__rotateIn">Login</h2>
                <form ng-submit="login()">
                    <label>
                        <strong>Username:</strong>
                        <input type="text" name="username" ng-model="user.username" autoComplete="username" />
                    </label>
                    <label>
                        <strong>Password:</strong>
                        <input type="password" name="password" ng-model="user.password" required
                            autoComplete="current-password" />
                    </label>

                    <p style="display:none"><strong>Incorrect username or password. Please try again.</strong></p>
                    <br>
                    <button class="bigBut scroll-top-button" type='submit'>Login</button>
                </form>
                <div class='warning' ng-if="badLog">
                    <p>Incorrect credentials. Please try again, or register a new account. </p>
                </div>
            </div>
            <p>Don't have an account? <a ui-sref='layout.signup'>Sign up today!</a> </p>
            <h3>Or</h3>
            <button class="scroll-top-button bigBut" ui-sref="layout.calculator">Continue as Guest</button>
        </div>
    </section>
</div>