<!-- calculator.component.html -->
<div class="container-fluid" id="calc">
    <div ng-if="isCurrentStep(0)">
        <p id="calcHead">Enter your information to get your monthly statistics, how you compare against others, and what
            you
            can do to improve your footprint.<br> Don't forget to share with your friends!</p>
        <button class="bigBut" ng-click="nextStep()">Begin</button>
    </div>
    <form ng-submit="calculate()">
        <div ng-if="isCurrentStep(1)">
            <h3>Transportation Habits</h3>
            <label for="vehicleType">Vehicle Type:</label>
            <select id="vehicleType" ng-model="vehicleType">
                <option value="electric">Electric Vehicle</option>
                <option value="car">Car</option>
                <option value="van">Van</option>
                <option value="truck">Truck</option>
            </select>
            <br>
            <label for="vehicleUsage">Vehicle Usage (miles/year):</label>
            <input type="number" id="vehicleUsage" ng-model="vehicleUsage" ng-init="vehicleUsage = vehicleUsage || 0"
                placeholder="Enter miles/year">
            <br>
            <label for="publicTransportation">Public Transportation (miles/year):</label>
            <input type="number" id="publicTransportation" ng-model="publicTransportation"
                ng-init="publicTransportation = publicTransportation || 0" placeholder="Enter miles/year">
            <button class="bigBut" ng-click="nextStep()">Next</button>
        </div>
        <div ng-if="isCurrentStep(2)">
            <h3>Dietary Choices</h3>
            <label for="dietType">Dietary Preference:</label>
            <select id="dietType" ng-model="dietType">
                <option value="vegan">Vegan</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="regular">Regular</option>
                <option value="meatBased">Meat-Based</option>
            </select>
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
        <div ng-if="isCurrentStep(3)">
            <h3>Household Information</h3>
            <label for="numPeople">Number of People in Household:</label>
            <input type="number" id="numPeople" ng-model="numPeople" ng-init="numPeople = numPeople || 0"
                placeholder="Enter number of people">
            <br>
            <label for="waterScarcity">Water Scarcity Level:</label>
            <select id="waterScarcity" ng-model="waterScarcity">
                <option value="normal">Normal</option>
                <option value="moderate">Moderate</option>
                <option value="high">High</option>
            </select>
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
        <div ng-if="isCurrentStep(4)">
            <h3>Daily Water Usage</h3>
            <label for="showersPerDay">Daily Showers Per Person</label>
            <input type="number" id="showersPerDay" ng-model="showersPerDay"
                ng-init="showersPerDay = showersPerDay || 0" placeholder="Enter number of showers">
            <br>
            <label for="flushesPerDay">Daily Flushes Per Person:</label>
            <input type="number" id="flushesPerDay" ng-model="flushesPerDay"
                ng-init="flushesPerDay = flushesPerDay || 0" placeholder="Enter number of flushes">
            <br>
            <label for="dishesPerDay">Daily Dishes Cleaned Per Person:</label>
            <input type="number" id="dishesPerDay" ng-model="dishesPerDay" ng-init="dishesPerDay = dishesPerDay || 0"
                placeholder="Enter number of dishes washed">
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
        <div ng-if="isCurrentStep(5)">
            <h3>Energy Consumption</h3>
            <span ng-repeat="source in energySources track by $index">
                <label for="energySourceType{{$index}}">Energy Source:</label>
                <select id="energySourceType{{$index}}" ng-model="source.type">
                    <option value="Solar energy">Solar energy</option>
                    <option value="Geothermal energy">Geothermal energy</option>
                    <option value="Wind energy">Wind energy</option>
                    <option value="Biomass from plants">Biomass from plants</option>
                    <option value="Hydropower">Hydropower</option>
                    <option value="Petroleum">Petroleum</option>
                    <option value="Hydrocarbons">Hydrocarbons</option>
                    <option value="Natural gas">Natural gas</option>
                    <option value="Coal">Coal</option>
                    <option value="Nuclear energy">Nuclear energy</option>
                </select>
                <label for="energyUsage{{$index}}">Monthly Energy Usage (kWh):</label>
                <input type="number" id="energyUsage{{$index}}" ng-model="source.usage"
                    ng-init="source.usage = source.usage || 0" placeholder="Enter monthly energy usage">
            </span>
            <br>
            <button ng-if="energySources.length > 1" ng-click="removeEnergySource($index)">Remove</button>
            <button ng-click="addEnergySource()">Add Energy Source</button>
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
        <div ng-if="isCurrentStep(6)">
            <h3>Waste Emissions</h3>
            <label for="monthlyGarbageBins">Garbage Bins (monthly):</label>
            <input type="number" id="monthlyGarbageBins" ng-model="monthlyGarbageBins"
                ng-init="monthlyGarbageBins = monthlyGarbageBins || 0"
                placeholder="Enter number of garbage bins monthly">
            <br>
            <label for="monthlyRecyclingBins">Recycling Bins (monthly):</label>
            <input type="number" id="monthlyRecyclingBins" ng-model="monthlyRecyclingBins"
                ng-init="monthlyRecyclingBins = monthlyRecyclingBins || 0"
                placeholder="Enter number of recycling bins monthly">
            <br>
            <label for="monthlyCompostBins">Compost Bins (monthly):</label>
            <input type="number" id="monthlyCompostBins" ng-model="monthlyCompostBins"
                ng-init="monthlyCompostBins = monthlyCompostBins || 0"
                placeholder="Enter number of compost bins monthly">
            <br>
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
        <div ng-if="isCurrentStep(7) && !calculateButtonClicked">
            <h3>Vacation Habits</h3>
            <label for="vehicleTypeVacay">Vehicle Type:</label>
            <select id="vehicleTypeVacay" ng-model="vehicleTypeVacay">
                <option value="car">Car</option>
                <option value="van">Van</option>
                <option value="truck">Truck</option>
            </select>
            <br>
            <label for="milesDriven">Miles Driven (per year):</label>
            <input type="number" id="milesDriven" ng-model="milesDriven" ng-init="milesDriven = milesDriven || 0"
                placeholder="Enter miles/year for driving">
            <br>
            <label for="milesFlown">Miles Flown (per year):</label>
            <input type="number" id="milesFlown" ng-model="milesFlown" ng-init="milesFlown = milesFlown || 0"
                placeholder="Enter miles/year for flights">
            <div class="buttons">
                <button class="smallbut" ng-click="prevStep()">Previous</button>
                <button class="smallbut" ng-click="nextStep()">Next</button>
            </div>
        </div>
    </form>
    <div ng-if="calculateButtonClicked" class="nomargin">
        <div class="nomargin">
            <canvas id="metricsChart" ng-if="calculateButtonClicked"></canvas>
        </div>
        <div ng-if="totalVehicleEmissions > 0">
            <h3>Total Vehicle Emissions</h3>
            <p class="result">{{ totalVehicleEmissions }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsVehicle">{{ recommendation }}</p>
        </div>
        <div ng-if="totalDietaryEmissions > 0">
            <h3>Total Dietary Emissions</h3>
            <p class="result">{{ totalDietaryEmissions }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsDiet">{{ recommendation }}</p>
        </div>
        <div ng-if="totalWaterEmission > 0">
            <h3>Total Water Emissions</h3>
            <p class="result">{{ totalWaterEmission }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsWater">{{ recommendation }}</p>
        </div>
        <div ng-if="totalEnergyEmissions > 0">
            <h3>Total Energy Emissions</h3>
            <p class="result">{{ totalEnergyEmissions }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsEnergy">{{ recommendation }}</p>
        </div>
        <div ng-if="totalWasteEmissions > 0">
            <h3>Total Waste Emissions</h3>
            <p class="result">{{ totalWasteEmissions }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsWaste">{{ recommendation }}</p>
        </div>
        <div ng-if="totalVacayEmissions > 0">
            <h3>Total Vacation Emissions</h3>
            <p class="result">{{ totalVacayEmissions }} kg - CO2e per month</p>
            <p ng-repeat="recommendation in recommendationsVacay">{{ recommendation }}</p>
        </div>
        <button class="bigBut" ng-click="reloadPage()">Reassess Your Metrics</button>
        <div id="disclaimer">
            <p
                ng-if="totalVacayEmissions > 0 || totalWasteEmissions > 0 || totalWaterEmission > 0 || totalEnergyEmissions > 0 || totalDietaryEmissions > 0 || totalVehicleEmissions > 0">
                <strong>Please note these rough calculations are based on numbers provided by Gov. Canada and are
                    subject to change.</strong>
            </p>
        </div>
    </div>
</div>