<!-- social.component.html -->
<div class="container-fluid">
    <section class="redirect">
        <div class="HEAD">
            <div class="space-between">
                <div>
                    <h3>Best 3 Carbon Footprints This Month</h3>
                    <!--From database, the lowest TotalEmissions this month. Should have the name of the user, the graph, then comments with likes -->
                </div>
                <div>
                    <h3>Recently Posted Carbon Footprints</h3>
                    <!--From database, the 10 most recent Carbon footprint calculations. Should have the name of the user, the graph, then comments with likes -->
                </div>
            </div>
        </div>
    </section>
</div>