<!-- social.component.html -->
<div class="container-fluid">
    <section class="social">
        <div class="HEAD">
            <div class="space-between">
                <div>
                    <h3>Best 3 Carbon Footprints This Month</h3>
                    <div ng-repeat="footprint in bestFootprints">
                        <h4>{{ footprint.user.username }}</h4>
                        <p>{{ footprint.totalEmissions + ' kg - CO2e/Month total emissions'}} </p>
                        <div class="graph-container">
                            <canvas id="bestFootprintsChart{{$index}}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>