<!-- home.component.html -->

<body>
  <div class="container-fluid">
    <section class="c1">
      <div>
        <h1>Welcome to MyCarbonFootprint!</h1>
        <p id="slogan"><em>Discovering Your Eco-Footprint: Assessing, Reducing & Comparing Your Carbon Impact</em> </p>
      </div>
      <p>Our all-in-one Carbon Footprint App empowers you to measure, view your metrics and mitigate your environmental impact across five
        key
        areas. Calculate your carbon emissions from transportation, energy usage, dietary choices, water consumption,
        and
        travel habits. Receive tailored recommendations to reduce your carbon footprint, including eco-conscious tips
        and
        sustainable lifestyle changes. Track your progress and make a positive impact on the planet by adopting greener
        choices today.</p>
    </section>

    <section class="c2">
      <h2>Carbon Emissions</h2>
      <div>
        <p>The quantity of carbon emissions directly influences an individual's carbon footprint. Carbon emissions
          result
          from various daily activities such as transportation choices, energy consumption, and dietary preferences.
          These
          emissions primarily consist of carbon dioxide (CO2) and other greenhouse gases, contributing significantly to
          one's overall carbon footprint. Higher emissions indicate a larger environmental impact, while lower emissions
          signify a smaller footprint. To reduce their carbon footprint, individuals can adopt eco-friendly practices
          like
          using public transportation, conserving energy, and reducing meat consumption. By minimizing carbon emissions,
          people can play a pivotal role in creating a more sustainable and environmentally friendly future.</p>
      </div>
    </section>

    <section class="c3">
      <h2>Water Usage Tracker</h2>
      <div>
        <p>Water usage indirectly affects one's carbon footprint through energy-intensive processes like water treatment
          and heating. The energy required to pump, treat, and heat water often involves the burning of fossil fuels,
          leading to CO2 emissions. Additionally, the production and disposal of water-related appliances contribute to
          the overall carbon footprint. Therefore, minimizing water usage not only conserves water but also reduces the
          energy demand associated with it, ultimately lowering the carbon footprint and promoting environmental
          sustainability.
        </p>
      </div>
    </section>
    <section class="c4">
      <h2>Energy Consumption Calculator</h2>
      <div>
        <p>Energy consumption directly influences an individual's carbon footprint. It reflects the amount of energy
          used
          from fossil fuel-based sources like coal, oil, and gas, which release carbon dioxide and other pollutants.
          Higher energy consumption escalates greenhouse gas emissions, contributing to a larger carbon footprint.
          Transitioning to cleaner, renewable energy sources like solar or wind power substantially reduces this
          footprint. By enhancing energy efficiency, using energy-saving appliances, and adopting sustainable energy
          alternatives, individuals can significantly minimize their carbon footprint and actively engage in mitigating
          climate change.</p>
      </div>
    </section>
    <section class="c5">
      <h2>Waste and Recycling Tracker</h2>
      <div>
        <p>
          The quantity of waste and materials recycled plays a vital role in shaping an individual's carbon footprint.
          When waste accumulates in landfills, it decomposes and produces methane, a potent greenhouse gas. Recycling
          helps divert materials from landfills, reducing methane emissions. Additionally, producing new items from
          recycled materials consumes less energy and resources than manufacturing from raw materials. Thus, recycling
          conserves energy and reduces carbon emissions associated with extraction and production. By recycling more and
          minimizing waste generation, individuals can significantly shrink their carbon footprint and contribute to a
          more sustainable and eco-friendly future.</p>
      </div>
    </section>
    <section class="c6">
      <h2>Travel Impact Calculator</h2>
      <div>
        <p>Traveling for vacations can significantly impact one's carbon footprint due to the emissions associated with
          transportation. Long-haul flights, especially those involving air travel, can release substantial amounts of
          greenhouse gases like carbon dioxide (CO2) into the atmosphere. The distance traveled, mode of transportation,
          and frequency of vacations all contribute to the overall carbon emissions linked to leisure travel. To
          mitigate
          this impact, individuals can choose more eco-friendly transportation options, such as train travel or
          carpooling, offset their emissions, or opt for destinations closer to home. These choices can help reduce the
          environmental consequences of vacation-related travel and contribute to a greener lifestyle.</p>
      </div>
    </section>
    <section class="c7">
        <h2>Ready to make a difference? Don't wait any longer! Calculate your carbon footprint, compare with your friends, and discover how you can reduce your impact on the environment. Start now</h2>
        <button ui-sref="layout.calculator">Calculate!</button>
    </section>
  </div>
</body>