<!-- signup.component.html -->
<div class="container-fluid">
  <section class="register">
    <div class="HEAD">
      <div class="space-between">
        <h2 class="animate__animated animate__rotateIn">Register</h2>
        <form>
          <label>
            Username:
            <input type="text" name="username" autocomplete="username" />
          </label>
          <br />

          <label>
            Password:
            <input type="password" name="password" autocomplete="current-password" />
          </label>
          <br />

          <label>
            First Name:
            <input type="text" name="first_name" autocomplete="given-name" />
          </label>
          <br />

          <label>
            Last Name:
            <input type="text" name="last_name" autocomplete="family-name" />
          </label>
          <br />

          <label>
            Telephone:
            <input type="number" name="telephone" autocomplete="tel" />
          </label>
          <br />

          <label>
            Address:
            <input type="text" name="address" autocomplete="street-address" />
          </label>
          <br />

          <label>
            City:
            <input type="text" name="city" autocomplete="address-level2" />
          </label>
          <br />

          <label>
            Postal Code:
            <input type="text" name="postal_code" autocomplete="postal-code" />
          </label>
          <br />

          <label>
            Country:
            <input type="text" name="country" autocomplete="country" />
          </label>
          <br />

        </form>

        <button class="bigBut" type='submit'>Submit</button>
      </div>
    </div>
  </section>
</div>